<div class="container" style="margin-top:10%;  width:40%; background-color:white; padding-right:15px">
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="log_in" method="POST">
                <fieldset>
                    <div id="legen">
                        <legen class=""><h2>Login</h2></legen>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                            <button class="btn btn-success">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>